    <div class="row main-row-style">
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
    </div>
    <div class="row main-row-style">
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
    </div>
    <div class="row main-row-style">
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg"/></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
        <div class="col-sm-4">
            <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
            <div class="group-img-text">Group Name</div>
        </div>
    </div>