<div class="row main-row-style">
    <div class="col-sm-4">
        <div id="group-name1" class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div id="group-name2" class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div id="group-name3" class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
</div>
<div class="row main-row-style">
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
</div>
<div class="row main-row-style">
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
    <div class="col-sm-4">
        <div class="main-btn group-box"><img class="img-fluid" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" /></div>
        <div class="group-img-text">Group Name</div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="col-sm">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="flagModButts">flag</button>
                <button type="button" class="btn btn-primary">watch</button>
                <button type="button" class="btn btn-primary" id="expand-btn" data-toggle="button">Expand</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal #2 -->
<div class="modal fade" id="expanded-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-3">
                                One of three columns
                            </div>
                            <div class="col-sm-9">
                                One of three columns
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                One of three columns
                            </div>
                            <div class="col-sm-9">
                                One of three columns
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                One of three columns
                            </div>
                            <div class="col-sm-9">
                                One of three columns
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                One of three columns
                            </div>
                            <div class="col-sm-9">
                                One of three columns
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        One of three columns
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- flag modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complaints/Concerns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reason for Flagging:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Report</button>
      </div>
    </div>
  </div>
</div>


<script src="javascript/main.js"></script>
