<div class="row main-row-style">
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://foodrevolution.org/wp-content/uploads/2018/04/blog-featured-diabetes-20180406-1330.jpg" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.gannett-cdn.com/-mm-/1fecae5856e58374cc9e1c0fd6dcc3c6aae79d4e/c=0-293-5760-3547/local/-/media/2018/07/17/IAGroup/DesMoines/636674359927753055-0717-NEW-STATEFAIR-FOODS-00029.jpg?width=3200&height=1680&fit=crop">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/6/0/FN_snapchat_coachella_wingman%20.jpeg.rend.hgtvcom.616.462.suffix/1523633513292.jpeg" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYd-suNkKVoiDz2fm6zeypxka-PvAiM5D6eYkgIIMUbbS2ZfsE" alt="Card image cap" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

<div class="row main-row-style">
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://s3.amazonaws.com/tinycards/image/7f851e4c7e4699564e7e1182eb1eb7ff" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://cdn.cnn.com/cnnnext/dam/assets/171027052520-processed-foods-exlarge-tease.jpg" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.thelocal.it/userdata/images/article/69523836b0191608c41d640feead8da2be5462038d3409e1e3900fad039c7fc8.jpg" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://static01.nyt.com/images/2017/11/14/science/red-velvet-cake/red-velvet-cake-articleLarge.jpg?quality=75&auto=webp&disable=upscale" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

<div class="row main-row-style">
   <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.telegraph.co.uk/content/dam/business/2018/01/17/pizza_trans_NvBQzQNjv4BqZgEkZX3M936N5BQK4Va8RWtT0gK_6EfZT336f62EI5U.jpg?imwidth=450" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1O-KcqDFwiDBrag5CwG9gb-EeYlA2oMRkhCtTCR6YyJE7ti6hig" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://us-east-1.tchyn.io/snopes-production/uploads/2015/05/takis.jpg?resize=542%2C305" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://cdn-image.foodandwine.com/sites/default/files/1509031600/arugua-and-squash-salad-XL-RECIPE1217.jpg" alt="Card image cap">
        </figure>
        <div id="Card-Body-Top" class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div id="Card-Body-Bottom" class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade modal-body" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Group Name -Top Picks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Scroll Modal -->
                <div class="scrollmenu">
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="flagModButts">flag</button>
                <button type="button" class="btn btn-primary">watch</button>
                <button type="button" class="btn btn-primary" id="expand-btn" data-toggle="button">Expand</button>
            </div>
        </div>

        </div>
    </div>
</div>

<!-- Modal #2 -->
<div class="modal fade" id="expanded-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered2" role="document">
        <div class="modal-content" id="modal-textfix">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Group Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 scrollmenu2">
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">

                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <i class="far fa-comments"></i>
                        <br>
                        <i class="fas fa-bars"></i>
                        <br>
                        <i class="fas fa-share-alt"></i>
                        <br>
                        <i class="fas fa-paper-plane"></i>
                        <br>
                        <i class="fas fa-bullhorn"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" id="backto-scroll-modal" class="btn btn-primary">back</button>
            </div>
        </div>
    </div>
</div>

<!-- flag modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complaints/Concerns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reason for Flagging:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Report</button>
      </div>
    </div>
  </div>
</div>


<script src="javascript/index.js"></script>
