<div class="row main-row-style">
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="http://www.richmondtherapycenter.com/userfiles/601861/image/grouptherapy.PNG" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="http://blog.ebta.nu/wp-content/uploads/2012/05/group.png">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://static1.squarespace.com/static/55ca49f3e4b0f3c31736e3de/t/589a16099de4bbc5210a8a58/1486493211850/?format=750w" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://itgroove.net/thebeagle/wp-content/uploads/sites/4/2015/11/group_hug.jpg" alt="Card image cap" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

<div class="row main-row-style">
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_B6a9TLLbF3j9auIlQgCua03Ezu7UHVCpdhYIIeUwraUsRhSq" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.phoenixmedicalgroup.co.uk/images/350w/4_patient_group.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="http://www.cabinetbenzoni.com/wp-content/uploads/2014/10/k4_4784393.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="http://www.adhdkingston.org.uk/images/slide-show-image-1.jpg?crc=4130584303" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

<div class="row main-row-style">
   <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://clubrunner.blob.core.windows.net/00000004322/Images/300575_2_e5af7d.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.matrixgroup.net/thematrixfiles/wp-content/uploads/2015/07/ppl.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://www.sciencedaily.com/images/2014/06/140612104950_1_900x600.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div id="Card" class="card" style="width: 18rem;">
       <figure class="figure">
            <img class="card-img-top figure-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPosuXJKQfjK9x21S5nXzHznuOqcj3uJDucZjfydPBC-vDvsT7" alt="Card image cap">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade modal-body" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Group Name -Top Picks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Scroll Modal -->
                <div class="scrollmenu">
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                    <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div>
                </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="flagModButts">flag</button>
                <button type="button" class="btn btn-primary">watch</button>
                <button type="button" class="btn btn-primary" id="expand-btn" data-toggle="button">Expand</button>
            </div>
        </div>

        </div>
    </div>
</div>

<!-- Modal #2 -->
<div class="modal fade" id="expanded-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered2" role="document">
        <div class="modal-content" id="modal-textfix">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Group Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 scrollmenu2">
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">

                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm group-rest-info">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="rest-name">Restaurant 1</div>
                                        <div class="rest-address">Dummy addddrrreesssss</div>
                                        <div class="rest-price">$$$</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="rest-rating">*****</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <i class="far fa-comments"></i>
                        <br>
                        <i class="fas fa-bars"></i>
                        <br>
                        <i class="fas fa-share-alt"></i>
                        <br>
                        <i class="fas fa-paper-plane"></i>
                        <br>
                        <i class="fas fa-bullhorn"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" id="backto-scroll-modal" class="btn btn-primary">back</button>
            </div>
        </div>
    </div>
</div>

<!-- flag modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complaints/Concerns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reason for Flagging:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Report</button>
      </div>
    </div>
  </div>
</div>


<script src="javascript/index.js"></script>
