body {
    background-color: lemonchiffon;
}
.main-row-style {
    margin-bottom: 3%;
}

.group-img-text{
    text-align:center; 
    background-color:lightskyblue;
}

.navbar {
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    text-align:center;
}

.modal-content {
    text-align:center;
}


.scrollmenu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;


}
.card {
    display: inline-block;
  }


/* .modal-content{
   
    overflow-y: auto;
    overflow-x: hidden;
    margin:0 auto;
  }

 .modal-content > .scroll-bar-item .card {
    width: 100px;
    height: 100px;
  }

 .modal-content {
    transform: rotate(-90deg);
    transform-origin: right top;
  }

 .modal-content > .scroll-bar-item .card {
    transform: rotate(90deg);
    transform-origin: right top;
  } */